# Node / JS
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
/application/ios
/application/android

# Metro / debug
.metro-health-check*
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local
.env
backend/.env.local
backend/.env.staging
backend/.env.prod

# Typescript
*.tsbuildinfo

# VS Code
.vscode/

# Example folder
app-example
